@model IEnumerable<SSEF.Models.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Index</h2>
@if (Request.IsAuthenticated && User.Identity.Name == "dinkov.com@gmail.com")
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            Options:
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.CourseID }) 

            @if (Request.IsAuthenticated && User.Identity.Name == "dinkov.com@gmail.com")
            {

                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID })
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            }

        </td>
    </tr>
}

</table>
